body{
    background-color: salmon;
}

#puppy-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

#pup-img {
    max-width: 30%;
    min-height: auto;
    padding: .75rem;
    border-style: dotted;
    border-color: lightgoldenrodyellow;
    border-width: 10px;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 100;
}

#toggle-btn {
    max-width: 7rem;
    margin: 1rem;
}